.pcard-container {
    height: 380px;
    width: 300px;
    margin-top: 20px;
    background-color: #222831;
    border-radius: 10px;
    transform: translateX(20px);
    box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.26),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.012)
;
}

.pcard-image {
    background-color: antiquewhite;
    width: 150px;
    height: 150px;
    margin-top: 40px;
    margin-left: 75px;
    align-items: center;

    border-radius: 50%;
    border: none;
}

.pcard-image img {
    width: 150px;
    border-radius: 50%;
    border: none;
    height: 150px;
}


.pcard-name {
    height: 40px;
    margin-top: 5px;
    align-items: center;
    font-family: 'PT Sans', cursive;
    font-size: 30px;
    color: #00adb5;
    font-weight: 400;
}

.aka {
    align-items: center;
    font-family: 'Nixie One', cursive;
    font-size: 10px;
    color: #cccccc;
    margin: 0;
    padding: 0;
    transform: translateY(-5px);
}

.info {
    align-items: center;
    font-family: 'Poppins', cursive;
    font-size: 16px;
    color: #cccccc;
    margin: 0;
    padding: 0;
    transform: translateY(-5px);
    font-weight: 400;
}

.silphprofilelink {
    align-items: center;
    font-family: 'Poppins', cursive;
    font-size: 14px;
    color: #cccccc;
    margin: 0;
    padding: 0;
    transform: translateY(-5px);
    font-weight: 400;
}

.discordprofile {
    align-items: center;
    font-family: 'Nixie One', cursive;
    font-size: 14px;
    color: #00adb5;
    margin: 0;
    padding: 0;
    transform: translateY(5px);
}

.fa-map-marker-alt{
    font-size: 14px;
    padding: 0;
    padding-right: 5px;
    color: #00adb5;
}

.fa-discord {
    font-size: 16px;
    padding: 0;
    padding-right: 3px;
    transform: translateY(1px);
    color: #00adb5;
}

.pcard-ign {
    height: 40px;
    align-items: center;
    font-family: 'Nixie One', cursive;
    font-size: 22px;
    transform: translateY(-13px);
    color: #ececec;
}

.pcard-description {
    height: 55px;
    margin-left: 5px;
    margin-top: 5px;
    font-family: 'Lato', sans-serif;
  font-size: 15px;
  font-weight: 600;
  padding: 5px;
  color: rgb(221, 221, 221);

}

@media (max-width: 786px) {
    .pcard-container {
        width: 300px;
    }
    .pcard-image {
        margin-left: 75px;
    }
}