@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
// Variables
$regal-blue: #034378;
$san-juan: #2d4e68;
$bermuda: #77d7b9;
$white: #fff;
$black: #000;
$open-sans: "Open Sans", sans-serif;
// clear-fix mixin
@mixin cf {
  &::before,
  &::after {
    content: "";
  }
  &::after {
    clear: both;
  }
}

a {
  text-decoration: none;
}

h1 {
  font-family: $open-sans;
  font-weight: 300;
}

.row {
  max-width: 98%;
}

// Base styles
.cardt {
  padding: 0 1rem;
  width: 90%;
  margin-top: 10px;
  .menu-content {
    @include cf;
    margin: 0;
    padding: 0;
    list-style-type: none;

    a {
      color: $white;
    }
    span {
      position: absolute;
      left: 50%;
      top: 0;
      font-size: 10px;
      font-weight: 700;
      font-family: "Open Sans";
      transform: translate(-50%, 0);
    }
  }
  .wrappert {
    background-color: $white;
    border-radius: 20px;
    min-height: 400px;
    position: relative;
    overflow: hidden;
    padding: 0;
    box-shadow: 0 19px 38px rgba($black, 0.3), 0 15px 12px rgba($black, 0.2);
    &:hover {
      .data {
        transform: translateY(0);
      }
    }
  }
  .data {
    position: absolute;
    bottom: 0;
    width: 100%;
    transform: translateY(calc(70px + 1em));
    transition: transform 0.3s;
    .content {
      padding: 1em;
      position: relative;
      z-index: 1;
    }
  }
  .author {
    font-size: 12px;
  }
  .title {
    margin-top: 10px;
  }
  .text {
    height: 70px;
    margin: 0;
  }
  input[type="checkbox"] {
    display: none;
  }
  input[type="checkbox"]:checked + .menu-content {
    transform: translateY(-60px);
  }
}

.pyrogym {
  .wrappert {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.74)),
      url("/img/gyms/DelhiCity.png");
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: 0rem;
    background-size: cover;
  }
}

.fortgym {
  .wrappert {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.767)),
      url("/img/gyms/PuneCity.png");
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: 0rem;
    background-size: cover;
  }
}

.sinistergym {
  .wrappert {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75)),
      url("/img/gyms/MumbaiCity.png");
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: 0rem;
    background-size: cover;
  }
}

.eclipsegym {
  .wrappert {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75)),
      url("/img/gyms/KolkataCity.png");
    background-position: center;
    background-position-y: 0rem;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.fluidmetgym {
  .wrappert {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75)),
      url("/img/gyms/AhmedabadCity.png");
    background-position: center;
    background-position-y: 0rem;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.skyfortgym {
  .wrappert {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75)),
      url("/img/gyms/DehradunCity.png");
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: 0rem;
    background-size: cover;
  }
}

.alamosgym {
  .wrappert {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75)),
      url("/img/gyms/ChennaiCity.png");
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: 0rem;
    background-size: cover;
  }
}

.toxtricitygym {
  .wrappert {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75)),
      url("/img/gyms/BengaluruCity.png");
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: 0rem;
    background-size: cover;
  }
}

.battlefrontier {
  .wrappert {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75)),
      url("/img/silph/4.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 0rem;
  }
}

.catacomb {
  .wrappert {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75)),
      url("/img/silph/2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 0rem;
  }
}

.aceelite {
  .wrappert {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75)),
      url("/img/silph/3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 0rem;
  }
}
// Second example styles
.example-2 {
  .wrappert {
    &:hover {
      .menu-content {
        span {
          transform: translate(-50%, -10px);
          opacity: 1;
        }
      }
    }
  }
  .header {
    @include cf;
    color: $white;
    padding: 1em;
    .date {
      float: left;
      font-size: 12px;
    }
  }
  .menu-content {
    float: right;
    li {
      margin: 0 5px;
      position: relative;
    }
    span {
      transition: all 0.3s;
      opacity: 0;
    }
  }
  .data {
    color: $white;
    transform: translateY(calc(70px + 4em));
  }
  .title {
    a {
      color: $white;
    }
  }
  .button {
    display: block;
    width: 100px;
    margin: 2em auto 1em;
    text-align: center;
    font-size: 12px;
    color: $white;
    line-height: 1;
    position: relative;
    font-weight: 700;
    &::after {
      content: "\2192";
      opacity: 0;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(0, -50%);
      transition: all 0.3s;
    }
    &:hover {
      &::after {
        transform: translate(5px, -50%);
        opacity: 1;
      }
    }
  }
}

@media (min-width: 786px) {
  .cardt {
    width: 25%;
    min-width: 300px;
  }
  .row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}
