* {
  margin: 0;
  padding: 0;
}

html,
body {
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  background-color: #222831;
}

a {
  color: aqua;
}
.App {
  text-align: center;
}

.home-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/img/4.jpg") !important;
  height: 98vh;
  overflow-x: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 20px;
  margin: 1vh;
}

.home-text {
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(235, 235, 235);
  font-family: "Noto Sans JP", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 18px;
}
.home-text a {
  margin-top: 50px;
}
button {
  margin: 10px;
}

.gyminfo-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/img/1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 98vh;
  position: relative;
  border-radius: 20px;
  margin: 1vh;
}

.gyminfo-text {
  text-align: center;
  width: 90%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(235, 235, 235);
  font-family: "Noto Sans JP", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 18px;
}

.silph-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/img/2.jpg");
  height: 98vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 20px;
  margin: 1vh;
}

.silph-text {
  text-align: center;
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(235, 235, 235);
  font-family: "Noto Sans JP", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 18px;
}

.heading {
  font-size: 35px;
  font-weight: 600;
  color: beige;
  padding: 10px;
  padding-top: 20px;
}

@media (max-width: 786px) {
  .heading {
    font-size: 20px;
  }
}

.bf-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/img/bf/1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 98vh;
  position: relative;
  border-radius: 20px;
  margin: 1vh;
}
