* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  max-width: 100%;
  background-color: #222831;
  overflow-x: hidden;
  text-align: center;
}

a {
  color: rgb(0, 195, 255);
  text-decoration: none !important;
}

a:hover {
  color: #00adb5;
}
i {
  padding-right: 8px;
}

.heading h1 {
  margin-top: 20px;
  font-size: 75px;
  margin-left: 9rem;
  text-align: left;
  color: #eeeeee;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

.heading p {
  font-size: 20px;
  font-family: "Lato", sans-serif;
  color: #eeeeee;
  padding: 0 8rem 0 9rem;
  text-align: left;
}

.formats {
  margin: 0 7rem 0 7rem;
}
@media screen and (max-width: 820px) {
  .heading p {
    padding: 0 20px 0 20px;
    font-family: "Lato", sans-serif;
  }
  .formats {
    margin: 0 20px 0 20px;
  }
}

.heading h3 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 35px;
  color: #00adb5;
}

@media (max-width: 786px) {
  .heading h1 {
    margin-left: 20px;
    align-items: center;
    font-size: 40px;
  }
  .heading h3 {
    font-size: 28px;
  }
}
