* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  max-width: 100%;
  background-color: #222831;
  overflow-x: hidden;
}

a {
  color: rgb(0, 195, 255);
}
i {
  padding-right: 8px;
}
.App {
  text-align: center;
}

.home-block {
  margin: 10px 2rem 2rem 2rem;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.block-title {
  height: 35px;
  width: 100%;
  background-color: #393e46;
}
.block-title p {
  padding-top: 7px;
  font-family: Arial, Helvetica, sans-serif;
  color: #00adb5;
  font-weight: 600;
}

@media screen and (max-width: 820px) {
  .home-block {
    margin: 5px;
  }
  .block-title {
    height: 50px;
  }
  .block-title p {
    font-size: 20px;
    padding-top: 7px;
  }
}

.home-event {
  height: 30vh;
  background-color: #393e46;
  margin-top: 10px;
  margin-bottom: 10px;
}

.home-event-text {
  color: #eeeeee;
  opacity: 0.5;
  font-size: x-large;
  font-style: oblique;
  text-align: center;
  padding-top: 12vh;
}

@media screen and (max-width: 820px) {
  .home-event {
    height: 20vh;
  }
  .home-event-text {
    padding-top: 8vh;
  }
}
button {
  margin: 10px;
}

@media (min-width: 786px) {
  .postBoxF {
    width: 32.5%;
    padding-bottom: 5px;
  }
  .postBox {
    width: 24.5%;
  }

  .MoreButton {
    top: 80%;
  }
  .format-text {
    font-size: 15.5px;
  }
  .row-format {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}

.rule-heading h1 {
  font-size: 30px;
  color: #eeeeee;
  font-family: "Josefin Sans", sans-serif;
}

.rule-heading p {
  font-size: 16px;
  color: #eeeeee;
  padding: 0 10rem 0 10rem;
}
@media screen and (max-width: 820px) {
  .rule-heading p {
    padding: 0 20px 0 20px;
  }
}

.rule-heading h3 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 35px;
  color: #00adb5;
}

@media (max-width: 786px) {
  .rule-heading h1 {
    font-size: 23px;
  }
  .rule-heading h3 {
    font-size: 28px;
  }
}
